[
    File(".gitkeep"),
    File("assets_index.ron"),
    Directory(
        name: "fonts",
        children: [
            Directory(
                name: "ComicNeue",
                children: [
                    File("ComicNeue-Bold.ttf"),
                    File("ComicNeue-BoldItalic.ttf"),
                    File("ComicNeue-Italic.ttf"),
                    File("ComicNeue-Light.ttf"),
                    File("ComicNeue-LightItalic.ttf"),
                    File("ComicNeue-Regular.ttf"),
                    File("OFL.txt"),
                ],
            ),
        ],
    ),
    Directory(
        name: "images",
        children: [
            Directory(
                name: "portfolio",
                children: [
                    Directory(
                        name: "Booth Design 1",
                        children: [
                            File("booth 1.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Booth Design 2",
                        children: [
                            File("booth 2.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Booth Design 3",
                        children: [
                            File("booth 3.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Booth Design 4",
                        children: [
                            File("booth 4-1.png"),
                            File("booth 4-2.png"),
                            File("booth 4-3.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Cat Dropping",
                        children: [
                            File("cat dropping.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Cat in Box",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-Balls",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-Gift-Box",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-headphone",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-Sushi-Queen",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Donut",
                        children: [
                            File("donut in plate.png"),
                            File("donut undenoise.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Factory",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Gatcha Machine",
                        children: [
                            File("gatcha.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Milk",
                        children: [
                            File("milk.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Profile Image",
                        children: [
                            File("profile 1.png"),
                            File("profile 2.png"),
                            File("profile 3.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Room",
                        children: [
                            File("room.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Sushi Character Prawn",
                        children: [
                            File("showcase.png"),
                            File("sushi prawn.png"),
                        ],
                    ),
                    Directory(
                        name: "Sushi Character Salmon",
                        children: [
                            File("salmon 1.png"),
                            File("salmon 2.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Sushi Queen",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Sushi Queen Typing",
                        children: [
                            File("showcase.png"),
                            File("sushi queen typing.png"),
                        ],
                    ),
                    Directory(
                        name: "Tin",
                        children: [
                            File("showcase.png"),
                            File("tin.png"),
                        ],
                    ),
                    Directory(
                        name: "Tree",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "Vendor Machine",
                        children: [
                            File("showcase.png"),
                            File("vendor machine.png"),
                        ],
                    ),
                ],
            ),
            File("Sushi Queen Logo Transparent.png"),
        ],
    ),
    Directory(
        name: "svg",
        children: [
            File("arrow-left-solid.svg"),
            File("envelope-solid.svg"),
            File("github-brands.svg"),
            File("instagram-brands.svg"),
            File("linkedin-brands.svg"),
            File("whatsapp-brands.svg"),
        ],
    ),
]