[
    File(".gitkeep"),
    File("assets_index.ron"),
    Directory(
        name: "fonts",
        children: [
            Directory(
                name: "ComicNeue",
                children: [
                    File("ComicNeue-Bold.ttf"),
                    File("ComicNeue-BoldItalic.ttf"),
                    File("ComicNeue-Italic.ttf"),
                    File("ComicNeue-Light.ttf"),
                    File("ComicNeue-LightItalic.ttf"),
                    File("ComicNeue-Regular.ttf"),
                    File("OFL.txt"),
                ],
            ),
        ],
    ),
    Directory(
        name: "images",
        children: [
            Directory(
                name: "portfolio",
                children: [
                    Directory(
                        name: "2D-Profile Image",
                        children: [
                            File("profile 1.png"),
                            File("profile 2.png"),
                            File("profile 3.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Anim-Cat Dropping",
                        children: [
                            File("cat dropping.png"),
                            File("showcase.mp4"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Anim-Cat in Box",
                        children: [
                            File("showcase.mp4"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Anim-Factory",
                        children: [
                            File("showcase.mp4"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Anim-Sushi Queen Typing",
                        children: [
                            File("showcase.mp4"),
                            File("showcase.png"),
                            File("sushi queen typing.png"),
                            File("typing.mp4"),
                        ],
                    ),
                    Directory(
                        name: "3D-Booth-Design 1",
                        children: [
                            File("booth 1.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Booth-Design 2",
                        children: [
                            File("booth 2.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Booth-Design 3",
                        children: [
                            File("booth 3.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Booth-Design 4",
                        children: [
                            File("booth 4-1.png"),
                            File("booth 4-2.png"),
                            File("booth 4-3.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Booth-Gatcha Machine",
                        children: [
                            File("gatcha.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Char-Sushi Character Prawn",
                        children: [
                            File("showcase.png"),
                            File("sushi prawn.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Char-Sushi Character Salmon",
                        children: [
                            File("salmon 1.png"),
                            File("salmon 2.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Char-Sushi Queen",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Donut",
                        children: [
                            File("donut in plate.png"),
                            File("donut undenoise.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Milk",
                        children: [
                            File("milk.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Room",
                        children: [
                            File("room.png"),
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Tin",
                        children: [
                            File("showcase.png"),
                            File("tin.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Tree",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "3D-Vendor Machine",
                        children: [
                            File("showcase.png"),
                            File("vendor machine.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-Balls",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-Gift-Box",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-headphone",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                    Directory(
                        name: "CGI-Sushi-Queen",
                        children: [
                            File("showcase.png"),
                        ],
                    ),
                ],
            ),
            File("Sushi Queen Logo Transparent.png"),
        ],
    ),
    Directory(
        name: "svg",
        children: [
            File("arrow-left-solid.svg"),
            File("envelope-solid.svg"),
            File("github-brands.svg"),
            File("instagram-brands.svg"),
            File("linkedin-brands.svg"),
            File("whatsapp-brands.svg"),
        ],
    ),
]