@font-face {
  font-family: "ComicNeue";
  src: url("assets/fonts/ComicNeue/ComicNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ComicNeue";
  src: url("assets/fonts/ComicNeue/ComicNeue-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "ComicNeue";
}

canvas {
  margin: 0 !important;
  padding: 0 !important;
  outline: none;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
